<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th>Fullname</th>
      <th>Birthday</th>
      <th>Phone</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.fullname %></td>
        <td><%= user.birthday %></td>
        <td><%= user.phone %></td>
        <td>
          <%= form_tag(posts_path, method: "get") do %>
            <%= hidden_field :user_id, "", value: user.id %>
            <%= submit_tag ("View post") %>
          <% end %>
        </td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
