<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
		<center><h2>Login</h2></center>
		<%= @msg %>

		<%= form_tag("", method: "get") do %>
		  	

	  		<div class="form-group">
			    <div class="input-group">
			      	<div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
			      	 <%= text_field_tag(:email,nil, class: 'form-control', placeholder: 'Email' )  %>
			    </div>
			 </div>

			 <div class="form-group">
			    <div class="input-group">
			      	<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
			      	<%= password_field_tag(:password,nil, class: 'form-control' , placeholder: 'Password')%>
			    </div>
			 </div>
		  	
		  	<center>
		  		<%= submit_tag ("Login"), class: "btn btn-success" %>
		  		<%= link_to 'Don\'t have account?', signup_users_path, class: "btn btn-default" %>
		  	</center>
		<% end %>

	</div>
	<div class="col-lg-4"></div>
</div>