<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <p id="notice"><%= notice %></p>
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading"><%= @user.fullname %></h4>
      </a>
      <a href="#" class="list-group-item">
        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>
      </a>
      <% if session[:user_status] == 1 %>
      <a href="#" class="list-group-item">
        <p>
          <strong>Password:</strong>
          <%= @user.password %>
        </p>
      </a>
      <% end %>
      <a href="#" class="list-group-item">
        <p>
          <strong>Fullname:</strong>
          <%= @user.fullname %>
        </p>
      </a>
      <a href="#" class="list-group-item">
        <p>
          <strong>Birthday:</strong>
          <%= @user.birthday %>
        </p>
      </a>
      <a href="#" class="list-group-item">
        <p>
          <strong>Phone:</strong>
          <%= @user.phone %>
        </p>
      </a>
    </div>
      <% if session[:user_id] == @user.id %>
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <% end %>
      <%= link_to 'Back', :back %>
  </div>
</div>