<% post_per_page = 4 %>
<% total = @posts.count %>
<script type="text/javascript">
  count = 1;
  $(document).ready(function(){
    $("#view_more").click(function(){
      if (count <= <%= total/post_per_page %>) {
        if (count == <%= total/post_per_page %> || ((count+1) == <%= total/post_per_page %> && <%= total%post_per_page %> == 0)) $(".load-more").hide();
        $("#page"+count).show();
        count ++;
      }
    });
  });
</script>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading"><center><strong><%= @user.fullname %></strong></center></div>
    </div >
    <div class="side-avatar">
      <img src="/avatar/<%= @user.avatar %>" class="profile_avatar_me" alt="<%=@user.fullname%>">
    </div> 
    <br>

    <div class="sidebar-container widget-about">
      <div class="sidebar-content">
        <div class="sidebar-header"><center><strong><%= @user.fullname %></strong></center></div>
        <div class="side-avatar">
          <img src="/avatar/<%= @user.id %>" class="profile_avatar_me" alt="<%=@user.fullname%>">
        </div> 
        <div class="sidebar-list">Born: <strong><%= @user.birthday.strftime("%B %d,%Y")%></strong></div>
        <div class="sidebar-list">Phone: <strong><%= @user.phone %></strong></div>
        <div class="sidebar-list">Email: <strong><%= @user.email %></strong></div>
        <div class="sidebar-list">Joined: <strong><%= @user.created_at.strftime("%B %d,%Y") %></strong></div>
        <div class="sidebar-list">Friend: <strong><%= @user.connects.count %> people</strong></div>
        <div class="sidebar-list">Ideals: <strong><%=@user.posts.count %> posts</strong></div>
      </div>

    </div>
  </div>

  <div class="col-sm-7">
    <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Friend's <%= @user.fullname%></h3>
          </div>
          <% if @friend_user.count == 0 %>
            <p>There are no member to show.</p>
          <% else %>
            <div class="user_list">
              <div class="user_row">
                <% count = 1 %>
                <% @friend_user.each do |user| %>
                <% if user.id != session[:user_id] %>
                    <% if count > 2 and count % 2 == 1 %>
                      </div>
                      <div class="user_row">
                    <% end %>
                    <div class="user_item">
                      <div class="user_item_avt">
                        <img src="/avatar/<%= user.id %>" alt="" class="user_item_img">
                      </div>
                      <div class="user_item_info">
                        <a href="<%= users_path %>/<%= user.id %>">
                          <strong><%= user.fullname %></strong>
                        </a>
                        <br>
                        <%= user.connects.count%> friends
                      </div>
                      <div class="user_action">
                        <% @check_connect_of_me = Connect.where user_id: session[:user_id], friend: user.id %>
                          <% @check_connect_of_friend = Connect.where friend: session[:user_id], user_id: user.id %>

                          <% @count = @check_connect_of_me.count + @check_connect_of_friend.count %>
                          <% @status = @check_connect_of_me.pluck(:status) + @check_connect_of_friend.pluck(:status) %>

                          <% if @count == 0 %>
                            <%= form_tag('users/connect', method: "get") do %>
                              <%= hidden_field :user_id, nil, value: user.id %>
                              <%= submit_tag "Add friend", class: "btn btn-xs btn-primary" %>
                            <% end %>

                          <% elsif @status[0] == 0 %>
                            <span class="label label-default">Waiting</span>
                          <% else %>
                            <%= form_tag('users/remove_connect', method: "get") do %>
                              <%= hidden_field :user_id, nil, value: user.id %>
                              <%= submit_tag "Unfriend", class: "btn btn-xs btn-danger" %>
                            <% end %>
                          <% end %>
                      </div>
                    </div>
                    <% count += 1 %>
                <% end %>
                <% end %>
              </div>      
            </div>
          <% end %>
        </div>
    </div>



    <div class="row">
       <div class="sidebar-container widget-about">
        <div class="sidebar-content">
          <div class="sidebar-header">Ideals's <%= @user.fullname%></div>
          <!-- Hien thi thong tin cac ideal ma nguoi dung da dawng public -->
          <div class="list-group">
           <% if total <= post_per_page %>
              <% @posts.each do |post| %>
                <div class="profile_container">
                  <div class="profile_avatar"><img class="profile_thumbnail_img" alt="" src="/thumbnail/<%= post.thumbnail%>"></div>
                  <div class="profile_detail">         
                  <h5 class="list-group-item-heading" style="color: #4183c4">
                    <strong><a href="<%= posts_path %>/<%= post.id%>"><%= post.title %></a></strong>
                  </h5>
                  <p class="list-group-item-text"><%= post.content.truncate(170, separator: ' ').html_safe %></p>
                  <p class="list-group-item-text catalog"><strong>Views:</strong> <%= post.view %> <strong>Comments:</strong> <%= post.comments.count %></p>
                  </div>
                </div>
              <% end %>
            <% else %>
            <% (0..(total/post_per_page)).each do |j| %>
              <div class="page" id="page<%= j %>" <% if j > 0 %>style="display: none"<% end %>>
                <% (0..(post_per_page-1)).each do |i| %>
                    <% first = j * post_per_page %>
                    <% if (first + i < total) %>
                      <div class="profile_container">
                        <div class="profile_avatar"><img class="profile_thumbnail_img" alt="" src="/thumbnail/<%= @posts[first + i].thumbnail%>"></div>
                        <div class="profile_detail">         
                        <h5 class="list-group-item-heading" style="color: #4183c4">
                          <strong><a href="<%= posts_path %>/<%= @posts[first + i].id%>"><%= @posts[first + i].title %></a></strong>
                        </h5>
                        <p class="list-group-item-text"><%= @posts[first + i].content.truncate(160, separator: ' ').html_safe %></p>
                        
                        <p class="list-group-item-text catalog"><strong>Views:</strong> <%= @posts[first + i].view %> <strong>Comments:</strong> <%= @posts[first + i].comments.count %></p>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
            <% end %>
          <div class="load-more">
            <a id="view_more">View more Ideal</a>
          </div>
          <% end %>
        </div>
      </div>  

    </div>
  </div>

  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
      <% if session[:user_id] == @user.id %>
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <% end %>
      <%= link_to 'Back', :back %>
  </div>

</div>

