<% post_per_page = 4 %>
<% total = @posts.count %>
<script type="text/javascript">
  count = 1;
  $(document).ready(function(){
    $("#view_more").click(function(){
      if (count <= <%= total/post_per_page %>) {
        if (count == <%= total/post_per_page %> || ((count+1) == <%= total/post_per_page %> && <%= total%post_per_page %> == 0)) $(".load-more").hide();
        $("#page"+count).show();
        count ++;
      }
    });
  });
</script>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading"><center><strong><%= @user.fullname %></strong></center></div>
    </div >
    <div class="side-avatar">
      <img src="/avatar/<%= @user.id %>" class="profile_avatar_me" alt="<%=@user.fullname%>">
    </div> 
    <br>
    <div class="sidebar-container widget-about">
      <div class="sidebar-content">
        <div class="sidebar-header">About</div>
        <div class="sidebar-list">Born: <strong><%= @user.birthday.strftime("%B %d,%Y")%></strong></div>
        <div class="sidebar-list">Phone: <strong><%= @user.phone %></strong></div>
        <div class="sidebar-list">Email: <strong><%= @user.email %></strong></div>
        <div class="sidebar-list">Joined: <strong><%= @user.created_at.strftime("%B %d,%Y") %></strong></div>
        <div class="sidebar-list">Friend: <strong><a href="/users/<%= @user.id %>"><%= @user.connects.count %> people</a></strong></div>
        <div class="sidebar-list">Ideals: <strong><a href="#"><%=@user.posts.count %> Post</a></strong></div>
      </div>

    </div>
  </div>

  <div class="col-sm-7">
    <div class="row">
       <div class="sidebar-container widget-about">
        <div class="sidebar-content">
          <div class="sidebar-header">Ideals's <%= @user.fullname%></div>
          <!-- Hien thi thong tin cac ideal ma nguoi dung da dawng public -->
          <div class="list-group">
           <% if total <= post_per_page %>
              <% @posts.each do |post| %>
                <div class=" feed_container">
                  <div class="profile_avatar"><img class="img-thumbnail" alt="100x100" src="/thumbnail/<%= post.thumbnail%>" style="width: 100px; height: 100px;"></div>
                  <div class="profile_detail">         
                  <h5 class="list-group-item-heading" style="color: #4183c4">
                    <strong><a href="<%= posts_path %>/<%= post.id%>"><%= post.title %></a></strong>
                  </h5>
                  <p class="list-group-item-text"><%= post.content.truncate(170, separator: ' ') %></p>
                  <p class="list-group-item-text catalog"><strong>Views:</strong> <%= post.view %> <strong>Comments:</strong> <%= post.comments.count %></p>
                  </div>
                </div>
                <div class="sidebar-divider"></div>
              <% end %>
            <% else %>
            <% (0..(total/post_per_page)).each do |j| %>
              <div class="page" id="page<%= j %>" <% if j > 0 %>style="display: none"<% end %>>
                <% (0..(post_per_page-1)).each do |i| %>
                    <% first = j * post_per_page %>
                    <% if (first + i < total) %>
                      <div class="feed_container">
                        <div class="profile_avatar"><img class="img-thumbnail" alt="100x100" src="/thumbnail/<%= @posts[first + i].thumbnail%>" style="width: 100px; height: 100px;"></div>
                        <div class="profile_detail">         
                        <h5 class="list-group-item-heading" style="color: #4183c4">
                          <strong><a href="<%= posts_path %>/<%= @posts[first + i].id%>"><%= @posts[first + i].title %></a></strong>
                        </h5>
                        <p class="list-group-item-text"><%= @posts[first + i].content.truncate(160, separator: ' ') %></p>
                        
                        <p class="list-group-item-text catalog"><strong>Views:</strong> <%= @posts[first + i].view %> <strong>Comments:</strong> <%= @posts[first + i].comments.count %></p>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
            <% end %>
          <div class="load-more">
            <a id="view_more">View more Ideal</a>
          </div>
          <% end %>
        </div>
      </div>  

    </div>
  </div>

  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
      <% if session[:user_id] == @user.id %>
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <% end %>
      <%= link_to 'Back', :back %>
  </div>

</div>

