<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">

		<center><h2>Signup</h2></center>
		

		<%= form_for(@user) do |f| %>
		  <% if @user.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

		      <ul>
		      <% @user.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		   <div class="row">
		    <div class="col-lg-12">
		      <%= f.label :email %><br>
		      <%= f.text_field :email, :class => 'form-control' %>
		    </div>
		   </div>

		  <div class="row">
		    <div class="col-lg-6">
		        <%= f.label :password %><br>
		        <%= f.password_field :password , :class => 'form-control'%>
		    </div>
		 
		    <div class="col-lg-6">
		        <%= f.label :'Confirm Password' %><br>
		        <%= f.password_field :password_confirmation , :class => 'form-control'%>
		    </div>
		   </div>
		  <div class="row">
		    <div class="col-lg-12">
		      <%= f.label :fullname %><br>
		      <%= f.text_field :fullname , :class => 'form-control'%>
		    </div>
		  </div>

		  <div class="row">
		    <div class="col-lg-6">
		      <%= f.label :birthday %><br>
		      <%= f.date_field :birthday , :class => 'form-control' %>
		    </div>
		    <div class="col-lg-6">
		      <%= f.label :phone %><br>
		      <%= f.number_field :phone  , :class => 'form-control' %>
		    </div>

		    
		  </div>
		  <br>
		  <% if session[:user_id] == nil %>
		  <div class="actions">
		      
		      <%= f.submit 'Signup', :class => "btn btn-success" %>
		      <%= link_to 'Already have account?', login_users_path, class: "btn btn-default" %>
		      
		  </div>
		  <% end %>
		<% end %>
	</div>
	<div class="col-lg-3"></div>
</div>