
    <%= form_for @post, html: { class: "edit_post", id: "edit_post_45" } do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, :class => "form-control" %>
      </div>
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content, :class => "form-control", :rows => "6" %>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <%= f.label :sharewith %><br>
          <%= f.select(:sharewith, options_for_select([['Public', 0], ['Friend', 1], ['Private', 2]]), {}, {class: "form-control"} ) %>
        </div>

        <div class="col-lg-4">
          <%= f.label :status %><br>
          <%= f.select(:status, options_for_select([['Draft', -1], ['Deactive', 0], ['Active', 1]]), {}, {class: "form-control"} ) %>
        </div>
     
        
        <div class="col-lg-4">
          <br>
          <%= f.hidden_field :view, value: '0' %>
          <%= f.hidden_field :user_id, value: session[:user_id]%>
          <%= f.submit 'Post Ideal', :class => 'btn btn-success' %>
        </div>
      </div>
    <% end %>

