<% post_per_page = 4 %>
<% total = @posts.count %>
<script type="text/javascript">
	count = 1;
	$(document).ready(function(){
		$("#view_more").click(function(){
			if (count <= <%= total/post_per_page %>) {
				if (count == <%= total/post_per_page %> || ((count+1) == <%= total/post_per_page %> && <%= total%post_per_page %> == 0)) $(".load-more").hide();
				$("#page"+count).show();
				count ++;
			}
		});
	});
</script>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
	  <div class="list-group">
		 <% if total <= post_per_page %>
			  <% @posts.each do |post| %>
			    <div class="feed_container">
			    	<div class="feed_avatar"><img class="feed_avatar_img" alt="" src="/thumbnail/<%= post.thumbnail%>"></div>
			      	<div class="profile_detail">	      	
				      	<div class="name">
				      		<strong><a href="<%= posts_path %>/<%= post.id%>"><%= post.title %></a></strong>
				      	</div>
				      
				      	<div><span class="info">Author: </span>
	                  		<a href="<%= users_path%>/<%= post.user.id %>"><%= post.user.fullname %></a>
							<span class="info">Time:</span> <%= post.get_time(post.created_at) %>	
	                  	</div>
	                  	<div><span class="glyphicon glyphicon-globe info"></span> <%= post.view %> <span class="stat">views</span></div>
	                  	<div><span class="glyphicon glyphicon-comment info"></span> <%= post.comments.count %> <span class="stat">comments</span></div>
	                  	<div><span class="glyphicon glyphicon-star info "></span> <% if post.votes.average(:rate) == nil %>0<% else %><%= post.votes.average(:rate) %><% end %> <span class="stat">star</span> 
	                  	<span class="glyphicon glyphicon-thumbs-up info"></span> <%= post.votes.count %> <span class="stat">votes</span></div>
			      </div>
			    </div>
		    <% end %>
	    <% else %>
			<% (0..(total/post_per_page)).each do |j| %>
				<div class="page" id="page<%= j %>" <% if j > 0 %>style="display: none"<% end %>>
					<% (0..(post_per_page-1)).each do |i| %>
				   		<% first = j * post_per_page %>
					    <% if (first + i < total) %>
						    <div class="feed_container">
						    	<div class="feed_avatar"><img class="feed_avatar_img" alt="" src="/thumbnail/<%= @posts[first + i].thumbnail%>"></div>
						      	<div class="feed_detail">	      	
							      	<div class="name">
							      		<strong><a href="<%= posts_path %>/<%= @posts[first + i].id%>"><%= @posts[first + i].title %></a></strong>
							      	</div>
							      	<div><span class="info">Author: </span><a href="<%= users_path%>/<%= @posts[first + i].user.id %>"><%= @posts[first + i].user.fullname %></a> <span class="info">Time: </span><%= @posts[first + i].get_time(@posts[first + i].created_at) %></div>
		                        	<div><span class="info glyphicon glyphicon-globe"></span> <%= @posts[first + i].view %> <span class="stat">views</span></div>
		                        	<div><span class="glyphicon glyphicon-comment info"></span> <%= @posts[first + i].comments.count %> <span class="stat">comments</span></div>
		                        	<div><span class="glyphicon glyphicon-star info"></span> <%= @posts[first + i].votes.average(:rate) %> <span class="stat">star</span> 
		                        	<span class="glyphicon glyphicon-thumbs-up info "></span> <%= @posts[first + i].votes.count %> <span class="stat">votes</span></div>
							   </div>
						    </div>
					    <% end %>
				    <% end %>
			    </div>
			<% end %>
		  <div class="load-more">
		  	<p><a id="view_more">Load more Ideal</a></p>
		  </div>
	    <% end %>
	  </div>
	</div>
</div>