<% post_per_page = 4 %>
<% total = @posts.count %>
<script type="text/javascript">
	count = 1;
	$(document).ready(function(){
		$("#view_more").click(function(){
			if (count <= <%= total/post_per_page %>) {
				if (count == <%= total/post_per_page %> || ((count+1) == <%= total/post_per_page %> && <%= total%post_per_page %> == 0)) $(".view_more_div").hide();
				$("#page"+count).show();
				count ++;
			}
		});
	});
</script>
<div class="col-sm-1"></div>
<div class="col-sm-10">
  <div class="list-group">
	 <% if total <= post_per_page %>
		  <% @posts.each do |post| %>
		    <div class="list-group-item feed_container">
		    	<div class="feed_avatar"><img class="img-thumbnail" alt="100x100" src="/thumbnail/<%= post.thumbnail%>" style="width: 100px; height: 100px;"></div>
		      <div class="feed_detail">	      	
		      <h5 class="list-group-item-heading" style="color: #4183c4">
		      	<strong><a href="<%= posts_path %>/<%= post.id%>"><%= post.title %></a></strong>
		      </h5>
		      <p class="list-group-item-text"><%= post.content.truncate(200, separator: ' ') %></p>
		      <p class="list-group-item-text catalog"><strong>Author: </strong>
		      <a href="<%= users_path%>/<%= post.user.id %>"><%= post.user.fullname %></a> <strong>Views:</strong><%= post.view %> <strong>Comments:</strong> <%= post.comments.count %></p>
		      </div>
		    </div>
	    <% end %>
    <% else %>
		<% (0..(total/post_per_page)).each do |j| %>
			<div class="page" id="page<%= j %>" <% if j > 0 %>style="display: none"<% end %>>
				<% (0..(post_per_page-1)).each do |i| %>
			   		<% first = j * post_per_page %>
				    <% if (first + i < total) %>
					    <div class="list-group-item feed_container">
					    	<div class="feed_avatar"><img class="img-thumbnail" alt="100x100" src="/thumbnail/<%= @posts[first + i].thumbnail%>" style="width: 100px; height: 100px;"></div>
					      <div class="feed_detail">	      	
					      <h5 class="list-group-item-heading" style="color: #4183c4">
					      	<strong><a href="<%= posts_path %>/<%= @posts[first + i].id%>"><%= @posts[first + i].title %></a></strong>
					      </h5>
					      <p class="list-group-item-text"><%= @posts[first + i].content.truncate(200, separator: ' ') %></p>
					      <p style="margin-top: 5px;"><a href="<%= posts_path %>/<%= @posts[first + i].id%>" class="btn btn-default btn-xs"> Read more</a></p>
					      <p class="list-group-item-text catalog"><strong>Author: </strong>
					      <a href="<%= users_path%>/<%= @posts[first + i].user.id %>"><%= @posts[first + i].user.fullname %></a> <strong>Views:</strong> <%= @posts[first + i].view %> <strong>Comments:</strong> <%= @posts[first + i].comments.count %></p>
					      </div>
					    </div>
				    <% end %>
			    <% end %>
		    </div>
		<% end %>
	  <div class="view_more_div">
	  	<button id="view_more">Load More</button>
	  </div>
    <% end %>
  </div>
</div>
