<% post_per_page = 4 %>
<% total = @posts.count %>
<script type="text/javascript">
	count = 1;
	$(document).ready(function(){
		$("#view_more").click(function(){
			if (count <= <%= total/post_per_page %>) {
				if (count == <%= total/post_per_page %> || ((count+1) == <%= total/post_per_page %> && <%= total%post_per_page %> == 0)) $(".load-more").hide();
				$("#page"+count).show();
				count ++;
			}
		});
	});
</script>
<div class="col-sm-1"></div>
<div class="col-sm-10">
  <div class="list-group">
	 <% if total <= post_per_page %>
		  <% @posts.each do |post| %>
		    <div class="list-group-item feed_container">
		    	<div class="feed_avatar"><img class="feed_avatar_img" alt="" src="/thumbnail/<%= post.thumbnail%>"></div>
		      <div class="feed_detail">	      	
			      <h5 class="list-group-item-heading" style="color: #4183c4">
			      	<strong><a href="<%= posts_path %>/<%= post.id%>"><%= post.title %></a></strong>
			      </h5>
			      <p class="list-group-item-text"><%= post.content.truncate(200, separator: ' ').html_safe %></p>
			
			      <p class="list-group-item-text catalog">
				      <span class="glyphicon glyphicon-user"></span>
				      <a href="<%= users_path%>/<%= post.user.id %>"><%= post.user.fullname %></a> 
				      <span class="glyphicon glyphicon-globe"></span> <%= post.view %> <span class="stat">views</span> 
				      <span class="glyphicon glyphicon-comment"></span> <%= post.comments.count %> <span class="stat">comments</span>
						<span class="glyphicon glyphicon-star "></span> <% if post.votes.average(:rate) == nil %>0<% else %><%= post.votes.average(:rate) %><% end %> <span class="stat">star</span> 
						<span class="glyphicon glyphicon-thumbs-up "></span> <%= post.votes.count %> <span class="stat"> votes</span>
			      </p>
			      <div class="feed_time_post"><%= post.get_time(post.created_at) %></div>
		      </div>
		    </div>
	    <% end %>
    <% else %>
		<% (0..(total/post_per_page)).each do |j| %>
			<div class="page" id="page<%= j %>" <% if j > 0 %>style="display: none"<% end %>>
				<% (0..(post_per_page-1)).each do |i| %>
			   		<% first = j * post_per_page %>
				    <% if (first + i < total) %>
					    <div class="feed_container">
					    	<div class="feed_avatar"><img class="feed_avatar_img" alt="" src="/thumbnail/<%= @posts[first + i].thumbnail%>"></div>
					      <div class="feed_detail">	      	
						      <h5 class="list-group-item-heading" style="color: #4183c4">
						      	<strong><a href="<%= posts_path %>/<%= @posts[first + i].id%>"><%= @posts[first + i].title %></a></strong>
						      </h5>
						      <p class="list-group-item-text"><%= @posts[first + i].content.truncate(200, separator: ' ').html_safe %></p>
						   
						      <p class="list-group-item-text catalog">
							      <strong>Author:</strong>
							      <a href="<%= users_path%>/<%= @posts[first + i].user.id %>"><%= @posts[first + i].user.fullname %></a> 
							      <span class="glyphicon glyphicon-globe"></span> <%= @posts[first + i].view %><span class="stat">views</span> 
							      <span class="glyphicon glyphicon-comment "></span><%= @posts[first + i].comments.count %><span class="stat">comments</span> 
							      <span class="glyphicon glyphicon-star "> <%= @posts[first + i].votes.average(:rate) %> <span class="stat">star</span>
							      <span class="glyphicon glyphicon-thumbs-up "></span> <%= @posts[first + i].votes.count %> <span class="stat">votes</span>
						      </p>
						   <div class="feed_time_post"><%= @posts[first + i].get_time(@posts[first + i].created_at) %></div>
						   </div>
					    </div>
				    <% end %>
			    <% end %>
		    </div>
		<% end %>
	  <div class="load-more">
	  	<p><a id="view_more">Load more Ideal</a></p>
	  </div>
    <% end %>
  </div>
</div>
