<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading"><center><strong><%= @post.user.fullname %></strong></center></div>
    </div class="side-avatar">
    <div >
      <img src="/avatar/<%= @post.user.id %>" class="profile_avatar_me" alt="<%= @post.user.fullname %>">
    </div> 
    <br>
    <div class="sidebar-container widget-about">
      <div class="sidebar-content">
        <div class="sidebar-header">About</div>
        <div class="sidebar-list">Born: <strong><%= @post.user.birthday.strftime("%B %d,%Y")%></strong></div>
        <div class="sidebar-list">Email: <strong><%= @post.user.email %></strong></div>
        <div class="sidebar-list">Joined: <strong><%= @post.user.created_at.strftime("%B %d,%Y") %></strong></div>
      </div>
    </div>
    <br>
     <div class="sidebar-container widget-about">
      <div class="sidebar-content">
        <div class="sidebar-header">Last Post</div>
          <% if @last_posts.count > 0 %>
            <% @last_posts.each do |last_posts| %>    
              <div class="comment-replies comment-replies-content">
                <div class="message-reply-container">
              
                  <div class="comment-reply-avatar">
                    <a href="/users/<%= last_posts.user.id %>"><img src="/thumbnail/<%= last_posts.thumbnail%>"></a>
                  </div>
                  <div class="comment-reply-comment">
                    <span class="comment-reply-author"><a href="/posts/<%= last_posts.id %>"><%= last_posts.title.truncate(42, separator: ' ') %></a></span>
                  
                  </div>        
                </div>
              </div>
              <div class="comment-divider"></div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="row">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading"><%= @post.title %></h4>
        </a>
        <div class="list-group-item">
          <p class="list-group-item-text">
            <img src="/thumbnail/<%= @post.thumbnail%>" class="post_thumbnail_img" align="left" alt="">
            <%= @post.content.html_safe %>
          </p>
        </div>
        <div class="list-group-item">
          <p class="list-group-item-text">
            <strong>Sharewith: </strong><span class="badge"><%= @post.sharewith_text %></span> |
            <strong>View: </strong><span class="badge"><%= @post.view %></span> |
            <strong>Status: </strong><span class="badge"><%= @post.status_text %></span> |
            <strong>Voted: </strong><span class="badge"><%= @post.votes.count %></span> |
            <strong>Rate: </strong>
              <span class="badge">
                <% if (@post.votes.average(:rate) == nil) %>
                <%= '0 / 5' %>
                <% else %>
                <%= @post.votes.average(:rate) %> / 5
                <% end %>
              </span>
          </p>
        </div>
        <div class="list-group-item">
          <p class="list-group-item-text">
            <% if @post.check_show_vote(session[:user_id], @post.id) == nil %>
              <p>
                <%= form_for([@post, @post.votes.build]) do |f| %>
                  <div class="row">
                    <div class="col-sm-3">
                        <h5>Your vote: </h5>
                    </div>
                    <div class="col-sm-2">
                      <%= f.select :rate, options_for_select([1, 2, 3, 4, 5]),{}, class: "form-control input-xs" %>
                      <%= f.hidden_field :user_id, value: session[:user_id] %>
                      <%= f.hidden_field :post_id, value: @post.id %>
                    </div>
                    <div class="col-sm-3">
                      <%= f.submit "Vote", class: "btn btn-danger" %>
                    </div>
                  </div>
                <% end %>
              </p>
            <% end %>
          </p>
        </div>
      </div>
    </div> 

   
    <div class="row">
     <% if @post.comments.count > 0 %>
      <h4> Comment </h4>
      <% @post.comments.reverse_each do |comment| %>    
      <div class="review-item " id="shout-16700">
        <div class="user-info">
          <div class="manage">
            <span class="review-inline">Comment</span>
          </div>
          <div class="inserted">
            <%= @post.get_time(comment.created_at) %>
          </div>
          <a href="/user/strangekitty">
            <div class="avatar">
              <img src="/avatar/<%= comment.user.id %>">
            </div>
          </a>
          <div class="user">
            <h3><a href="/users/<%= comment.user.id %>"><%= comment.user.fullname %></a></h3>
            <h4>
              <span class="stat likes">4 likes</span>
              <a href="#" class="like-shout " rel="{&quot;comment_id&quot;:16700,&quot;type&quot;:&quot;movie&quot;}">Like this?</a>
              <a href="<%= request.original_url %>#comment" class="stat-link">
                <span class="stat shouts">0 replies</span>
               <span class="stat reply">Reply</span>
              </a>
            </h4>
          </div>
        </div>
        <div class="review-text">
           <%= comment.content %>
        </div>
      </div>
     <% end %>
    <% end %>
    </div>
    <div class="row" id="comment">
      <h4>Write comment for this post:</h4>
      <%= form_for([@post, @post.comments.new]) do |f| %>
        <p> 
          <%= f.text_area :content, class: "form-control", rows: "6" %>
          <%= f.hidden_field :status, value: "1" %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.hidden_field :user_id, value: session[:user_id]  %>
        </p>
          
        <p style="float:right">
          <%= f.submit "Post Comment", class: "btn btn-sm btn-success" %>
        </p>
        
      <% end %>


      <% if session[:user_id] == @post.user_id %>
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Back', :back %>
      <% end %>
    </div>
  </div>
</div>
