<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Sharewith:</strong>
  <%= @post.sharewith %>
</p>

<p>
  <strong>View:</strong>
  <%= @post.view %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.fullname %>
</p>

<h2>Viet binh luan:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p> 
    <%= f.text_area :content, size: "32x6" %>
  </p>
    
  <p>
    <%= f.submit ("Dang binh luan") %>
  </p>
  
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
