<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="/jquery.form.js"></script>
<script type="text/javascript" src="/jquery.rating.js"></script>
<script type="text/javascript" src="/jquery.MetaData.js"></script>
<script type="text/javascript" src="/jquery.rating.pack.js"></script>
<link rel="stylesheet" type="text/css" href="/jquery.rating.css" />
</script>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <div class="sidebar-container widget-about">
      <div class="sidebar-content">
        <div class="sidebar-header"><center><%= @post.user.fullname %></center></div>
        <div class="#">
          <img src="/avatar/<%= @post.user.id %>" class="profile_avatar_me" alt="<%= @post.user.fullname %>">
        </div> 
        <div class="sidebar-list">Born: <strong><%= @post.user.birthday.strftime("%B %d,%Y")%></strong></div>
        <div class="sidebar-list">Email: <strong><%= @post.user.email %></strong></div>
        <div class="sidebar-list">Joined: <strong><%= @post.user.created_at.strftime("%B %d,%Y") %></strong></div>
      </div>
    </div>
    <br>

    <div class="sidebar-container widget-about">
      <div class="sidebar-content">
        <div class="sidebar-header"><center>Top Ideals</center></div>
          <% if @top_posts.count > 0 %>
            <% @top_posts.each do |top_posts| %>    
              <div class="comment-replies comment-replies-content">
                <div class="message-reply-container">
              
                  <div class="comment-reply-avatar">
                    <a href="/users/<%= top_posts.user.id %>"><img src="/thumbnail/<%= top_posts.thumbnail%>"></a>
                  </div>
                  <div class="comment-reply-comment">
                    <span class="comment-reply-author"><a href="/posts/<%= top_posts.id %>"><%= top_posts.title.truncate(42, separator: ' ') %></a></span>
                  
                  </div>        
                </div>
              </div>
              <div class="comment-divider"></div>
            <% end %>
          <% end %>
      </div>
    </div>

    <br>
    <div class="sidebar-container widget-about">
      <div class="sidebar-content">
        <div class="sidebar-header"><center>Last Ideals</center></div>
          <% if @last_posts.count > 0 %>
            <% @last_posts.each do |last_posts| %>    
              <div class="comment-replies comment-replies-content">
                <div class="message-reply-container">
              
                  <div class="comment-reply-avatar">
                    <a href="/users/<%= last_posts.user.id %>"><img src="/thumbnail/<%= last_posts.thumbnail%>"></a>
                  </div>
                  <div class="comment-reply-comment">
                    <span class="comment-reply-author"><a href="/posts/<%= last_posts.id %>"><%= last_posts.title.truncate(42, separator: ' ') %></a></span>
                  
                  </div>        
                </div>
              </div>
              <div class="comment-divider"></div>
            <% end %>
          <% end %>
      </div>
    </div>
    
  </div>
  <div class="col-sm-7">
    <div class="row">
      <div class="cover"> 

        <div class="image">
          <img src="/thumbnail/<%= @post.thumbnail%>">
        </div>
        
        <div class="text">
          <div class="in"> 
            <div class="info"> 
              <div class="name">
                <a href="#" class="std __ap_processed"><%= @post.title %></a>
              </div>
              <div class="time ap-xdot">
                <span class="glyphicon glyphicon-link"></span> <%= @post.sharewith_text %>
              </div>
              <div class="time ap-xdot">
                <span class="glyphicon glyphicon-eye-open"></span> <%= @post.view %> views
              </div>
              <div class="time ap-xdot">
                <span class="glyphicon glyphicon-cog"></span> <%= @post.status_text %>
              </div>
              <div class="time ap-xdot">
                <span class="glyphicon glyphicon-thumbs-up"></span> <%= @post.votes.count %> votes
              </div>
              <div class="time ap-xdot">
                 <span class="glyphicon glyphicon-star"></span> <% if (@post.votes.average(:rate) == nil) %><%= '0 / 5' %><% else %><%= @post.votes.average(:rate) %> / 5<% end %> star
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-container widget-about sidebar-content">   
        <div class="sidebar-list">
          <p class="#">
            <%= @post.content.html_safe %>
          </p>
        </div>
        <% if @post.check_show_vote(session[:user_id], @post.id) == nil %>
        <div class="sidebar-list">
          <p class="#">
              <p>
                <%= form_for([@post, @post.votes.build]) do |f| %>
                  <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-5">
                        <strong>Your vote: </strong>
                        <div style="float:right"><%= f.submit "Vote", class: "btn btn-xs btn-danger" %></div>
                        <div class="post_yourvote_choose">
                           <input name="star" type="radio" value="1" class="star"/>
                           <input name="star" type="radio" value="2" class="star"/>
                           <input name="star" type="radio" value="3" class="star"/>
                           <input name="star" type="radio" value="4" class="star"/>
                           <input name="star" type="radio" value="5" class="star"/>
                        </div>
                      <%= f.hidden_field :user_id, value: session[:user_id] %>
                      <%= f.hidden_field :post_id, value: @post.id %>
                    </div>
                  </div>
                <% end %>
              </p>
          </p>
        </div>
        <% else %>
          <center>
            <strong>Thanks for your vote !!!</strong>
          </center>
        <% end %>
      </div>
    </div> <br>
    <div class="row">
      <div class="sidebar-container widget-about sidebar-content">   
        <div class="sidebar-list">
        <h4> Author</h4>
          <ol>
            
          </ol>
        </div> 
      </div>
    </div><br>
    <div class="row">
      <div class="sidebar-container widget-about sidebar-content">   
        <div class="sidebar-list">
        <h4> Related Ideals </h4>
          <ol>
            <% @random_posts.each do |random_posts| %>    
              <li>
                <a href="/posts/<%= random_posts.id %>"><%= random_posts.title%></a>
              </li>      
            <% end %>
          </ol>
        </div> 
      </div>
    </div>
    <div class="row">
     <% if @post.comments.count > 0 %>
      <h4> Comment </h4>
      <% @post.comments.reverse_each do |comment| %>    
      <div class="review-item " id="shout-16700">
        <div class="user-info">
          <div class="inserted">
            <%= @post.get_time(comment.created_at) %>
          </div>
          <a href="/user/strangekitty">
            <div class="avatar">
              <img src="/avatar/<%= comment.user.id %>">
            </div>
          </a>
          <div class="user">
            <h3><a href="/users/<%= comment.user.id %>"><%= comment.user.fullname %></a></h3>
            <h4>
              <span class="stat likes">
                <% if comment.like != 0 %>
                <%= comment.like %>
                <% end %>
              </span>
              <a href="<%= comments_path%>/update_like?id=<%= comment.id%>" class="like-shout" rel="{&quot;comment_id&quot;:16700,&quot;type&quot;:&quot;movie&quot;}">Like</a>
              <span class="stat shouts">0</span>
               <a class="like-shout" href="">Reply</a>
            </h4>
          </div>
        </div>
        <div class="review-text">
           <%= comment.content %>
        </div>
      </div>
     <% end %>
    <% end %>
    </div>
    <div class="row" id="comment">
    <% if session[:user_id] != nil %>
      <h4>Write comment for this ideal:</h4>
      <%= form_for([@post, @post.comments.new]) do |f| %>
        <p> 
          <%= f.text_area :content, class: "form-control", rows: "6" %>
          <%= f.hidden_field :status, value: "1" %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.hidden_field :user_id, value: session[:user_id]  %>
        </p>
          
        <p style="float:right">
          <%= f.submit "Post Comment", class: "btn btn-sm btn-success" %>
        </p>
        
      <% end %>
    <% else %>
      <p>
        <center><a href="<%= login_users_path%>">Login</a> to comment</center>
      </p>
    <% end %>

      <% if session[:user_id] == @post.user_id %>
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %> | 
        <%= link_to 'Back', :back %>
      <% end %>
    </div>
  </div>
</div>
