<!DOCTYPE html>
<html>
<head>
  <title>Vote Ideal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
  <% if session[:user_id] != nil %>
    <% useronline_resign() %>
    <% remain_connect_count() %>
  <% end %>
  
  <% if session[:current_tab] == nil %>
  <% session[:current_tab] = 1 %> 
  <% end %>
<!-- Wrap all page content here -->
    <div id="wrap" style="background-image: url('/background.jpg')">
      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <img src="/logo.jpg" style="width: 123px; height: 30px; margin: 8px 8px 0px 0px" alt="">
            
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li <% if session[:current_tab] == 1 %> class="active"<% end %>><a href="/posts/feed"><strong>Home</strong></a></li>
            <!--
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li> 
              -->

              <% if session[:user_id] != nil %>
                <li <% if session[:current_tab] == 2 %> class="active"<% end %>>
                  <a href="/posts"><strong>Ideals</strong></a></li>
              <%end%>
                <li <% if session[:current_tab] == 3 %> class="active"<% end %>>
                  <a href="/users"><strong>Members</strong></a></li>
              <% if session[:user_id] != nil %>
                <% if session[:waiting_connect] > 0 %>
                <li>
                  <a href="/users/waiting_connect"><span class="label label-danger"><%= session[:waiting_connect] %></span></a></li>
              <% end %>
              <li <% if session[:current_tab] == 4 %> class="active"<% end %>>
                  <a href="/users/<%= session[:user_id]%>"><strong>Profile</strong></a></li>
                <li>
                  <a href="/users/logout"><strong>Logout</strong></a></li>
              <% end %>
              <% if session[:user_id] == nil %>
                <li <% if session[:current_tab] == 4 %> class="active"<% end %>><a href="/users/login"><strong>Login</strong></a></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>

        </div>
      </div>
      <!-- Begin page content -->
      <div class="container">
        <%= yield %>
    </div>
     <br>
    <div id="footer">
      <div class="container">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <p class="text-muted" style="margin: 0px; padding: 10px 0px 10px 0px;">Vote for ideal you like</p>
      </div>
      </div>
    </div>
</body>
</html>
